In [11]:
# Ignoring Warnings
import warnings
warnings.simplefilter("ignore")

In [12]:
import pandas as pd

# Reading data
merged_file_path = "../data/heart_disease_combined.csv"
df_merged = pd.read_csv(merged_file_path, na_values="?")
df_merged.head()

,Age,Sex,Chest Pain,Rest BP,Cholesterol,Fasting Sugar,Rest ECG,Max HR,Ex Angina,ST Depression,ST Slope,Fluoroscopy,Thalassemia,Heart Disease
0,28.0,1.0,2.0,130.0,132.0,0.0,2.0,185.0,0.0,0.0,NaN,NaN,NaN,0
1,29.0,1.0,2.0,120.0,243.0,0.0,0.0,160.0,0.0,0.0,NaN,NaN,NaN,0
2,29.0,1.0,2.0,140.0,NaN,0.0,0.0,170.0,0.0,0.0,NaN,NaN,NaN,0
3,30.0,0.0,1.0,170.0,237.0,0.0,1.0,170.0,0.0,0.0,NaN,NaN,6.0,0
4,31.0,0.0,2.0,100.0,219.0,0.0,1.0,150.0,0.0,0.0,NaN,NaN,NaN,0

In [13]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 720 entries, 0 to 719
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Age            720 non-null    float64
 1   Sex            720 non-null    float64
 2   Chest Pain     720 non-null    float64
 3   Rest BP        717 non-null    float64
 4   Cholesterol    697 non-null    float64
 5   Fasting Sugar  637 non-null    float64
 6   Rest ECG       718 non-null    float64
 7   Max HR         718 non-null    float64
 8   Ex Angina      718 non-null    float64
 9   ST Depression  714 non-null    float64
 10  ST Slope       513 non-null    float64
 11  Fluoroscopy    307 non-null    float64
 12  Thalassemia    400 non-null    float64
 13  Heart Disease  720 non-null    int64
dtypes: float64(13), int64(1)
memory usage: 78.9 KB

In [14]:
# Checking for duplicate rows
duplicate_rows = df_merged.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_rows}")

Number of duplicate rows: 1

In [15]:
# Dropping Duplicate
df_merged = df_merged.drop_duplicates()

In [16]:
# Checking for missing values
missing_values = df_merged.isnull().sum()

# Calculating the percentage of missing values
missing_percentage = (missing_values / len(df_merged)) * 100

# DataFrame for the missing values table
missing_values_table = pd.DataFrame({
    'Column Name': df_merged.columns,
    'Missing Values': missing_values,
    'Percentage of Missing Values': missing_percentage
})

missing_values_table.sort_values(by='Missing Values', ascending=False, inplace=True)
print("Missing Values Table:")
missing_values_table

Missing Values Table:

                 Column Name  Missing Values  Percentage of Missing Values
Fluoroscopy      Fluoroscopy             412                     57.301808
Thalassemia      Thalassemia             319                     44.367177
ST Slope            ST Slope             206                     28.650904
Fasting Sugar  Fasting Sugar              83                     11.543811
Cholesterol      Cholesterol              22                      3.059805
ST Depression  ST Depression               6                      0.834492
Rest BP              Rest BP               3                      0.417246
Rest ECG            Rest ECG               2                      0.278164
Max HR                Max HR               2                      0.278164
Ex Angina          Ex Angina               2                      0.278164
Age                      Age               0                      0.000000
Sex                      Sex               0                      0.000000
Chest Pain        Chest Pain               0                      0.000000
Heart Disease  Heart Disease               0                      0.000000